 .nav {
   position: fixed;
   width: 100%;
   padding: 20px 30px;
   top: 30px;
   left: 0px;
   border-top: 1px solid f7f7f7;
 }

 .nav {
   display: flex;
   justify-content: space-between;
 }

 .nav .header__title {
   font-size: 24px;
   font-weight: 600;
 }

 .nav .header__icon {
   font-size: 20px;
   margin-left: 20px;
   cursor: pointer;
 }

 .nav .header__header-column {
   display: flex;
   align-items: center;
 }

 .nav .header__back-btn {
   font-size: 22px;
   margin-right: 20px;
 }