<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multicampus.finalproject.repository.RecipeMapper">
    <select id="readRecipeList" parameterType="java.util.ArrayList" resultType="com.multicampus.finalproject.model.RecommandListVO">
        SELECT * FROM recipe WHERE id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.value}
        </foreach>
        ORDER BY FIELD(id,
        <foreach collection="list" item="item" index="index" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="readRecipe" parameterType="Integer" resultType="com.multicampus.finalproject.model.RecommandListVO">
        SELECT * FROM recipe WHERE id = #{recipeId}
    </select>
    

    <select id="searchRecipeList" resultType="com.multicampus.finalproject.model.RecommandListVO">
        SELECT * FROM recipe WHERE title LIKE "%"#{keyword}"%" or "%"#{keyword} or #{keyword}"%" LIMIT #{page},10
    </select>

    <select id="getSearchPageNum" resultType="Integer">
        SELECT COUNT(*) FROM recipe WHERE title LIKE "%"#{keyword}"%" or "%"#{keyword} or #{keyword}"%"
    </select>
</mapper>